.button-responsive-menu {
    display: none;
}
aside {
    width: 50px;
    background-color: #000;
    border-radius: 0px 12px 12px 0px;
    min-height: 100vh;
    height: auto;
    margin-right: 40px;
    transition: all 300ms;
    overflow: hidden;
    .user-image {
        display: block;
        width: 40px;
        border: 2px solid #ccc;
        border-radius: 100%;
        height: 40px;
        margin: 0px auto;
        margin-top: 50px;
        transition: all 300ms;
    }
    p {
        font-size: 16px;
        text-align: center;
        opacity: 0;
        display: none;
        transition: all 300ms;
        font-weight: bold;
        margin-top: 10px;
        width: 90%;
        margin: 0px auto;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    button {                   
        opacity: 0;
        display: block;
        margin: 0px auto;
        margin-top: 20px;
        transition: all 300ms;
    }
    .option-car {
        margin-top: 20px;
        display: flex;
        border: 2px solid transparent;
        width: 90%;
        margin: 0px auto;
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        transition: all 300ms;
        img {
            display: block;
            width: 40px;
            border: 2px solid #ccc;
            border-radius: 100%;
            padding: 5px;
            transition: all 300ms;
        }
        h5 {
            opacity: 0;
            margin-top: 4px;
            margin-left: 20px;
            transition: all 300ms;
        }
        
    }
    .option-car:last-child {
        margin-bottom: 70px;
    }
    .option-car:hover {
        border: 2px solid #ccc;
        border-radius: 12px;   
        background-color: #1A1B1C;     
    }
    .close {
        display: none;
    }
    .edition {
        width: 90%;
        margin: 0px auto;
        opacity:  0;
        transition: all 300ms;
        label {
            display: block;
            width: max-content;
            margin: 0px auto;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .buttons {
            display: flex;
        }
        .image {
            margin-top: 10px;
        }
    }
}
aside:hover {
    width: 300px;
    .user-image {
        width: 100px;
        height: 100px;   
    }
    p {
        display: block;
        opacity: 1;
    }
    button {
        opacity: 1;
    }
    .option-car {
        img {
            margin-left: 20px;
        }
        h5 {
            opacity: 1;
        }
    }
    .edition {
        opacity: 1;
    }
}

@media(max-width: 1024px) {
    .button-responsive-menu {
        display: block;
        position: relative;
        top: 10px;
        left: 10px;

    }
    aside{
        width: 100%;
        opacity: 1;
        position: absolute;
        z-index: 100000;
        display: none; 
        .user-image {
            width: 130px;
            height: 130px;   
        }
        p {
            display: block;
            opacity: 1;
            font-size: 30px;
        }
        button {
            opacity: 1;
            margin-bottom: 40px;
        }
        .option-car {
            width: 200px;
            img {
                margin-left: 20px;
            }
            h5 {
                opacity: 1;
            }
        }
        .close {
            display: block;
            margin-top: 60px;
        }
        .edition {
            opacity: 1;
        }
        .edition {
            width: 500px;
           input {
               width: 500px;
               margin: 0px auto;
           }
        }
    }
    aside:hover {
        width: 100%;
        .user-image {
            width: 130px;
            height: 130px;   
        }
    }
}
