<aside class="color-layout">
    <img [src]="srcImage" class="user-image">
    <p>{{ username }}</p>
    <button class="btn btn-primary"
            (click)="modeEditionProfile()">Editar</button>
    <div class="edition"
        *ngIf="isEditing">
      <label>Nombre: </label>
      <input [(ngModel)]="userEditing"
             type="text"
             class="form-control">
      <input type="file" name="myImage" accept="image/png, image/jpeg"
             class="form-control image"
             [(ngModel)]="file" />
      <div class="buttons">
        <button class="btn btn-success"
                (click)="guardarOptions()">Guardar</button>
        <button class="btn btn-danger"
                (click)="cancelar()">Cancelar</button>
      </div>
    </div>
    <div class="option-car">
      <img src="https://images.vexels.com/media/users/3/140528/isolated/preview/669972133494bf3994d706dedf165f90-icono-de-ronda-de-inicio-1.png">
      <h5>Inicio</h5>
    </div>
    <div class="option-car">
      <img src="https://images.vexels.com/media/users/3/200060/isolated/preview/e39eb7217c7b5157d2c9154564d76598-icono-de-carrito-de-compras-rosa.png">
      <h5>Comestibles</h5>
    </div>  
    <div class="option-car">
      <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png">
      <h5>GitHub</h5>
    </div>  

    
  </aside>
