  <button class="btn btn-warning button-responsive-menu" id="button-responsive-menu"
          (click)="activarMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </button>
<aside class="color-layout" id="aside-config">
    <img [src]="srcImage" class="user-image">
    <p>{{ username }}</p>
    <button class="btn btn-primary"
            (click)="modeEditionProfile()">Edit ✏️</button>
    <div class="edition"
        *ngIf="isEditing">
      <label>Name (max 10): </label>
      <input [(ngModel)]="userEditing"
             type="text"
             class="form-control">
      <div class="buttons">
        <button class="btn btn-success"
                (click)="guardarOptions()">Save 💾</button>
        <button class="btn btn-danger"
                (click)="cancelar()">Cancel ❌</button>
      </div>
    </div>
    <div class="option-car"
         routerLink="">
      <img src="https://images.vexels.com/media/users/3/140528/isolated/preview/669972133494bf3994d706dedf165f90-icono-de-ronda-de-inicio-1.png">
      <h5>Home</h5>
    </div>
    <div class="option-car"
         routerLink="groseries">
      <img src="https://images.vexels.com/media/users/3/200060/isolated/preview/e39eb7217c7b5157d2c9154564d76598-icono-de-carrito-de-compras-rosa.png">
      <h5>Store</h5>
    </div>  
    <div class="option-car"
         (click)="irAlRepositorio()">
      <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png">
      <h5>GitHub</h5>
    </div>  
    <button class="close btn btn-danger"
            (click)="cerrarSidebar()">Cerrar</button>

    
  </aside>
