<section class="main color-layout">   
    <div class="add-task">      
      <div class="info-add" *ngIf="showMain">
        <button class="btn btn-primary btn-add" (click)="agregarTarea()">
          ➕ Add Task
        </button>
      </div>
      <div class="mb-3 input-add" *ngIf="!showMain">
        <input [(ngModel)]="input" type="text" class="form-control input-task" placeholder="Do anything...">
        <div class="options">          
          <input placeholder="📅" class="date-picker form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" [(ngModel)]="fechaPick"      
                  [min]="traerFecha()"/>                   
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addNewTask()">Add ➕</button>
        </div>
      </div>
    </div>
    <div *ngIf="isError"
         class="alert alert-danger message-error">
         🤦‍♂️ {{ message }} 🤦‍♀️
    </div>
    <div class="tasks">
        <div class="task"
            *ngFor="let task of tasks; let i = index">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                  [(ngModel)]="complete"
                  (click)="completarTarea(i)">
            <div class="description">
                <p>{{ task.description }}</p>
                <i>{{ task.fecha }}</i>
                <button class="btn btn-danger"
                        (click)="eliminarTarea(i)">❌</button>
            </div>
        </div>
    </div>
  </section>
