<section class="main color-layout">
    <h1>To Do 🗒️</h1>
    <h2>By: Sebastian Carrillo</h2>
    <div class="welcome-user">
      <h3>¡ Welcome <i>{{ user }}</i> 😀 !</h3>
    </div>
    <div class="add-task">      
      <div class="info-add" *ngIf="showMain">
        <button class="btn btn-primary btn-add" (click)="agregarTarea()">
          ➕ Add Task
        </button>
      </div>
      <div class="input-group mb-3 input-add" *ngIf="!showMain">
        <input [(ngModel)]="input" type="text" class="form-control" placeholder="Do anything...">
        <button class="btn btn-outline-secondary" type="button" id="button-addon3"><i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>
        </i></button>
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addNewTask()">Add ➕</button>
      </div>
    </div>
    <div *ngIf="isError"
         class="alert alert-danger message-error">
         🤦‍♂️ Add a description to task!!! 🤦‍♀️
    </div>
    <div class="tasks">
        <div class="task"
            *ngFor="let task of tasks">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <div class="description">
                <p>{{ task.description }}</p>
                <i>{{ task.fecha }}</i>
            </div>
        </div>
    </div>
  </section>
